<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/user.css" />
    <!----Font Awesome CDN-->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!----Boot-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14" defer></script>
    <script type="module"src="/js/user/former.js" defer></script>
    <title>Intouch|Recruiter Log In</title>
  </head>
  <body>
    <section class="main">
      <a href="/main/home"><img src="/images/logo.svg" alt="Intouch logo" style="width:7em; position:absolute;top:1%;left:50%;transform:translateX(-50%);"></a>
        <div class="container">
            <div class="sign-up-form" style="height:300px" data-set-password="<%=recDT.password%>" data-set-email="<%=recDT.email%>">
                        <h3 class="text-center">Join The Team !</h3>
                        <form class="needs-validation" id="login-form" @submit.prevent="processForm" @change="checkFormReady" action="/auth/login/client">
                              <div class="row g-2 mt-2">
                                <div class="col">
                                  <p class="text-center mb-4 mt-4 fs-5">You were invited by Owner Name to join the team at <strong style="text-transform:capitalize"><%=recDT._verified_companies.name%></strong></p>
                                  <div class="form-floating">
                                    <input type="hidden" class="form-control" id="enterpasswordInput" placeholder="password" value="<%=recDT.password %>" v-model.trim="password">
                                    <input type="hidden" class="form-control" id="loginemailInput" placeholder="name@example.com" value="<%=recDT.email %>" v-model.trim="email">
                                  </div>
                                </div>
                              </div>
                              <div class="d-flex flex-column justify-content-center align-items-center g-3">
                                <button class="btn btn-dark mt-3" type="submit" style="margin:20px auto" v-if="!processing">Join Team</button>
                                <p class="text-center mt-3">By continuing you agree to our <a href="/legal/terms_of_service" target="_blank">Terms of service</a></p>
                                <div class="spinner-border" role="status" v-if="processing">
                                  <span class="sr-only">Loading...</span>
                                </div>
                              </div>
                        </form>
            </div>
        </div>
    
    </section>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</html>
