<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Search job openings near you using our easy to use filtering options"/>
    <link rel="stylesheet as="style" href="/css/searchstyles.css"/>
    <!----Font Awesome CDN-->
    <script src="https://kit.fontawesome.com/7be4f826c0.js" crossorigin="anonymous" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/resources/autoComplete.js-10.2.6/dist/css/autoComplete.css">
    <!----Boot-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14" defer></script>
    <script type="module" src="/js/searchscripts.js" defer></script>
    <script defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9149531285371942"
     crossorigin="anonymous"></script>
     <link rel="icon" type="image/x-icon" href="/images/logo-small.png">
    <title>inTouch | Search</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>
    <div class="loader__overlay">
        <img src="../images/logo.svg" alt="Logo">
        <div class="loader"></div>
        <p class="text-white text-center"></p>
    </div>
    <section class="search-header">
      <%-include( '../components/search_nav' ) -%>
    </section>
    <section class="search-page-body" id="searchBody">
      <div class="container bg-white">
        <form @change="filterHandler" @submit.prevent="filterHandler">
          <div class="filter__body">
            <div id="filter__init-call" class="filter__option __mobile" aria-expanded="false">
              <span>Filter</span>
              <i class="fas fa-tune"></i>
            </div>
            <ul class="filter-list">
              <i id="filter__init-dismiss" class="d-sm-block d-md-block d-lg-none fas fa-times-circle fs-4 mb-2"></i>
              <span style="cursor:pointer" id="filterClear" v-if="display.filter.filtered" @click="clearFilter"><i class="fa-solid fa-times"></i>&nbsp Clear Filters</span>
              <li>
                <div class="dropdown">
                  <div class="filter__option" id="jobTypeButton">
                    <span>Job Type</span>
                    <i class="fas fa-caret-down"></i>
                  </div>
                  <ul class="filter_option__menu" id="jobTypeMenu" aria-labelledby="job type menu dropdown">
                    <li>
                      <div class="form-check d-flex justify-content-between w-100">
                        <label class="form-check-label" for="fullTimeCheck">
                          Full Time
                        </label>
                        <input class="form-check-input" type="checkbox" name="fullTimeCheck" id="fullTimeCheck" :checked=" display.filter.job_Type.includes('full-time') ? true : false"  @click="filter__jobType('full-time')">
                      </div>
                    </li>
                    <li>
                      <div class="form-check d-flex justify-content-between w-100">
                        <label class="form-check-label" for="partTimeCheck">
                          Part Time
                        </label>
                        <input class="form-check-input" type="checkbox" name="partTimeCheck" id="partTimeCheck" :checked=" display.filter.job_Type.includes('part-time') ? true : false"  @click="filter__jobType('part-time')">
                      </div>
                    </li>
                    <li>
                      <div class="form-check d-flex justify-content-between w-100">
                        <label class="form-check-label" for="seasonalCheck">
                          Seasonal
                        </label>
                        <input class="form-check-input" type="checkbox" name="seasonalCheck" id="seasonalCheck" :checked=" display.filter.job_Type.includes('seasonal') ? true : false" @click="filter__jobType('seasonal')">
                      </div>
                    </li>
                    <li>
                      <div class="form-check d-flex justify-content-between w-100">
                        <label class="form-check-label" for="contractCheck">
                          Contract
                        </label>
                        <input class="form-check-input" type="checkbox" name="contractCheck" id="contractCheck" :checked=" display.filter.job_Type.includes('contract') ? true : false" @click="filter__jobType('contract')">
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <div class="filter__option" id="locationButton">
                    <span>Location</span>
                    <i class="fas fa-caret-down"></i>
                  </div>
                  <ul class="filter_option__menu" id="locationMenu" aria-labelledby="location menu dropdown">
                    <li>
                      Search jobs in area
                      <div class="form-floating">
                        <select class="form-select" id="countrySearchInput" aria-label="Floating label select example" v-model="display.filter.location.country" @change="set_subdivision">
                          <option class="pt-2 pb-2 ps-2" selected value="jamaica">Jamaica</option>
                          <option class="pt-2 pb-2 ps-2" value="trinidad and tobago">Trinidad & Tobago</option>
                          <option class="pt-2 pb-2 ps-2" value="haiti">Haiti</option>
                          <option class="pt-2 pb-2 ps-2" value="puerto rico">Puerto Rico</option>
                          <option class="pt-2 pb-2 ps-2" value="dominicn republic">Dominican Republic</option>
                        </select>
                        <label for="countrySearchInput">Country:</label>
                      </div>
                    </li>
                   <li>
                    <div class="form-floating">
                      <select class="form-select" id="subdivInput" aria-label="Floating label select example" v-model="display.filter.location.s_div">
                        <option v-for="parish in display.filter.sub_division_arr" :key="parish.id">{{parish.name}}</option>
                      </select>
                      <label for="subdivInput">Parish/ State</label>
                    </div>
                   </li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <div class="filter__option" id="companyButton">
                    <span>Company Search</span>
                    <i class="fas fa-caret-down"></i>
                  </div>
                  <ul class="filter_option__menu" id="companyMenu" aria-labelledby="company menu dropdown">
                    <li>
                      <label for="filterCompanyInput">Search companies</label>
                      <input type="text" class="form-floating mt-3" id="filterCompanyInput" autocomplete="off" v-model.trim="display.filter.company">
                      <button type="submit" class="btn btn-outline-dark mt-3">Search</button>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          <div style="display:flex;gap:8px;justify-content:end;margin-left:auto">
            <span style="font-weight:400">Set Alerts</span>
            <div class="switch__outer">
              <div class="switch__inner"></div>
            </div>
          </div>
          
          </div>
        </form>
      </div>
     <div class="container bg-white">
       <input type="hidden" id="job__intermed"value="<%= JSON.stringify(jData) %>">
       <div class="row">
         <div :class="matched_filters.length > 0 && all_jobs.length > 0 ? 'col-sm-12 col-md-12 col-lg-5 position-relative bg-white h-100 results-display' : 'col-sm-12 col-md-12 col-lg-12 position-relative bg-white h-100 results-display'">      
            <div class="bg-white results-body">
              <div class="bg-white result-scroll-body">
            <% if(jData.items.length > 0){ %>
              <% jData.items.forEach((listing, index)=>{ %>
                <div class="job-card" @click="changeFocus(<%= listing.id %>)" v-if="matched_filters.includes(<%=listing.id%>) || !display.filter.filtered">
                  <% if(listing.company_logo_url.length >= 1){ %>
                    <img src="<%= listing.company_logo_url %>" alt="<%= listing.title %>">                        
                  <% }else{ %>
                    <img src="../images/imageplaceholder.png" alt="<%= listing.title %>">
                  <% } %>                    
                  <div class="job-card-content">
                    <h4 style="color:rgb(90,90,90);font-size:1.02rem"><%= listing.title %></h4>
                    <h6 style="color:rgb(90,90,90);font-size:0.8rem;font-weight:600;"><%= listing.company_name_posted %></h6>
                    <div class="job-rel-info">
                      <div class="rel-info-loc badge bg-transparent text-dark">
                        <i class="fas fa-map-pin"></i>
                        <span><%= listing.loc_sub_division %> , <%=listing.loc_country %></span>
                      </div>
                      <div class="badge bg-transparent text-dark rel-info-time">
                        <i class="fas fa-clock"></i>
                        <span style="text-transform:capitalize;"><%= listing.type.replaceAll('-',' ') %></span>
                      </div>
                    </div>
                    <span style="position:absolute;top:6px;right:6px;color:rgba(90,90,90);font-size:0.75rem">{{relativeDate(<%=listing.created_at %>)}}</span>
                    <i class="fa-solid fa-chevron-right" style="position:absolute;right:6px;bottom:6px"></i>
                  </div>
                </div>            
              <% }) %>        
            <% }%>
              <div class="w-100 d-flex justify-content-start align-items-center flex-column no-results" style="position:absolute;top:50px" v-if="(matched_filters.length === 0 && display.filter.filtered) || all_jobs.length === 0">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_3qzrm0wa.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  autoplay></lottie-player>                
                <p>No results match your search, try changing your filters or query</p>
                <button type="button" class="btn btn-dark mt-2 mb-4" @click="clearFilter">Clear filters</button>
              </div>
            </div>
         </div>
         </div>
        <div class="col-sm-12 col-md-12 col-lg-7 bg-white h-100 job-show-display" v-if="matched_filters.length > 0 && all_jobs.length > 0">
            <div class="job-show-banner">
              <div class="mb-3 return_to_home __mobile" @click="mobile__view">
                <div class="badge bg-dark">
                  <i class="text-white fas fa-chevron-left"></i>
                  <span class="text-white ms-2">Return to search</span>
                </div>
              </div>
              <div class="d-flex justify-content-between flex-wrap mb-2 job-show__header">
                <h4>{{focus_data.title}}</h4>
                <div>
                  <i class="fas fa-share dis-act-btn" id="share__handle" @click="openShare"></i>
                  <% if(user.id > 0){%>
                    <i id="favourite__handle" :class="pref.f_jobs.includes(focus_data.id) ? 'fas fa-heart act-btn button-active' : 'fas fa-heart act-btn'" @click="setFavourite"></i>
                  <% }else{ %>
                    <a href="/user/login?sendTo=search"><i id="register__handle" class="fas fa-heart dis-act-btn"></i></a>
                  <% } %>
                </div>
              </div>
              <div class="job-show__header_sec">
                  <span>{{focus_data.company_name_posted}}</span>
                  <span>| {{focus_data.loc_sub_division}}, {{focus_data.loc_country}} |</span>
                  <span>{{ relativeDate(focus_data.created_at) }} |</span>
                  <span style="font-weight:600;color:#2B32B2">{{ focus_data.application_id.length }} applicants</span>
                  <% if(user.id > 0){ %>
                        <button v-if="focus_data.quick_apply" style="margin-left:auto" type="button" class="btn btn-primary" id="applyButtonInit" @click="openApply">Apply</button>
                        <a v-if="!focus_data.quick_apply" style="margin-left:auto;text-decoration:none;" :href="focus_data.url" class="btn btn-primary" target="_blank">Apply</a>
                  <% }else{ %>
                    <a style="margin-left:auto"href="/user/login?sendTo=search" class="btn btn-primary">Apply</a>
                  <% } %>
              </div>
              <div class="job-show__header_ter">
                  <div style="min-width:95px">
                    <i class="fas fa-building"></i>
                    <span>{{focus_data.company_size}}</span>
                  </div> 
                  <div>
                    <i class="fas fa-briefcase"></i>
                    <span style="text-transform:capitalize;">{{focus_data.type.replaceAll('-',' ')}}</span>
                  </div>                  
              </div>
            </div>
            <div class="job-show-body">
              <div class="job-show-scroll-body">
                <div class="about__position __section">
                  <p>{{ focus_data.description }}</p>
                </div>
                <div class="about__responsibilities __section">
                  <span style="font-weight:600;">Responsibilities</span>
                  <ul>
                    <li v-for="r in focus_data.responsibilities" :key="r.id">{{r}}</li>
                  </ul>
                </div>
                <div class="about__qualifications __section">
                  <span style="font-weight:600">Qualifications</span>
                  <ul>
                    <li v-for="q in focus_data.qualifications" :key="q.id">{{q}}</li>
                  </ul>
                </div>
                <div class="about__benefits __section" v-if="focus_data.benefits.length > 0">
                  <span style="font-weight:600;">Benefits</span>
                  <ul>
                    <li v-for="b in focus_data.benefits" :key="b.id">{{b}}</li>
                  </ul>
                </div>
                <div class="about__company __section">
                  <strong>About Company</strong>
                  <div class="d-flex justify-content-between align-items-start mt-3">
                    <img style="height:60px;" :src="focus_data.company_logo_url" alt="">
                    <div class="ms-2">
                      <p>{{focus_data.about_company}}</p>
                      <a style="margin-left:auto" class="btn btn-dark" :href="setCompUrl(focus_data.company_name_posted)">See Company Profile</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div> 
     
       </div>
     </div>
     </div>
    </section>
    <div class="focus___overlay"></div>
    <!-- App Modal -->
<div class="modal fade" id="applicationModal" tabindex="-1" aria-labelledby="applicationModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="application__submit">
        <!--form starts here -->
        <form method="POST" action="/main/application/submit" @submit.prevent="submit" id="application_form" style="width:100%">
          <div class="pt-2 pb-4 __submit_step" v-if="current_step===1">
            <div class="p-3 mb-2 __step_header">
              <h5>{{listing.title}}</h5>
              <p>{{listing.company_name_posted}}</p>
            </div>
            <div class="container">
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="applicantNAMEInput" name="name" placeholder="Bob Builder" v-model.trim="u_Data.name">
                  <label for="applicantNAMEInput">Enter name</label>
                  <div class="invalid-feedback">
                    Please enter your name
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="applicantEMAILInput" name="email" placeholder="m@example.com" v-model="u_Data.email">
                  <label for="applicantEMAILInput">Enter email</label>
                  <div class="invalid-feedback">
                    Please enter a valid email
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="applicantPHONEInput"name="phoneInput" placeholder="8765555678" v-model="u_Data.phone">
                  <label for="applicantPHONEInput">Enter Phone number</label>
                  <div class="invalid-feedback">
                    Don't miss an oppurtunity, please check your phone number
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="applicantCOUNTRYInput" name="country" placeholder="Jamaica" value="Jamaica" v-model="u_Data.country">
                  <label for="applicantCOUNTRYInput">Enter country</label>
                  <div class="invalid-feedback">
                    Please enter your country
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <form action="/api/files/resume" @submit.prevent="fileHandler" enctype="multi-part/form-data">
                  <span>Resume</span>
                  <div class="mb-3 mt-2">
                    <input type="file" class="form-control" aria-label="file example" name="resume" id="applicantRESUMEInput" @change="fileHandler" required>
                    <div class="invalid-feedback">Invalid file type.</div>
                    <div class="invalid-feedback">
                      Please upload a pdf,docx, doc, txt file no greater than 10mb.
                    </div>
                  </div>  
                </form>
              </div>
              <div class="col-12 mt-3">
                <div class="w-100 act__form">
                  <p class="mb-2 text-center">By proceeding you agree to us sharing your entered information with the listing's employer</p>
                  <div class="act___buttons">
                    <button type="button" class="btn btn-dark w-75" id="dismissApplicationModal" @click="resetState">Cancel</button>
                    <button type="button" class="btn btn-success w-75" @click="stepHandler('1')">Next</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="pt-2 pb-4 __submit_step" v-if="current_step===2">
          <div class="p-3 mb-2 __step_header">
            <h5>{{listing.title}}</h5>
            <p>{{listing.company_name_posted}}</p>
          </div>
          <div class="container"> 
            <div class="col-12 mb-3 application_question" v-for="quest in listing.questions" :key="quest.id">
              <div>
                <label for="questionInput" name="answer" class="form-label">{{quest.question}}</label>
                <input type="text" class="form-control" id="applicantQUESTIONANSWERInput" placeholder="What color is the sky" @blur="questionHandler">
              </div>
            </div>    
            <div class="col-12 mt-3">
              <div class="w-100 act__form">
                <p class="mb-2 text-center">By proceeding you agree to us sharing your entered information with the listing's employer</p>
                <div class="act___buttons">
                  <button type="button" class="btn btn-dark w-75" @click="goBack">Previous</button>
                  <button type="button" class="btn btn-success w-75" @click="stepHandler('2')">Submit Applicaton</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="pt-2 pb-4 __submit_step" v-if="current_step===3 && state.complete">
        <div class="container d-flex flex-column justify-content-center align-items-center"> 
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_nsqfzxxx.json"  background="transparent"  speed="1"  style="width: 60%; height: auto;"    autoplay></lottie-player>
          <h6 class="mt-3 mb-3">Your application has been sent to {{listing.company}}</h6>
          <button class="btn btn-dark" @click="resetState">Great, Keep browsing</button>
        </div>
      </div>
      <div class="pt-2 pb-4 __submit_step" v-if="current_step===3 && state.rejected">
        <div class="container d-flex flex-column justify-content-center align-items-center"> 
          <h6 class="mt-3 mb-3">Something went wrong, Please try again later </h6>
          <button class="btn btn-dark" @click="resetState">Ok</button>
        </div>
      </div>
      <div class="pt-2 pb-4 __submit_step bg-transparent" v-if="current_step===3 && state.processing">
        <div style="height:200px" class="container bg-transparent d-flex flex-column justify-content-center align-items-center"> 
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>        
        </div>
      </div> 
        </form>
        <!--form ends here-->
      </div>
  </div>
  </div>
</div>
<!--Share  Modal -->
<div class="modal fade" id="shareModalCenter" tabindex="-1" role="dialog" aria-labelledby="shareModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title text-center" id="shareModalLongTitle"></h5>
        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close" id="closeShareModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div style="display:flex;gap:10px;width:80%;margin:0 auto;justify-content:center;align-items:center;" class="share__buttons">
            <a :href="links.facebook" target="_blank"><img class="share__logo" src="../images/brand_logos/facebook.svg" alt="Share by facebook" @click="createShare('facebook')"></a>
            <img id="whatsappShare" class="share__logo" src="../images/brand_logos/whatsapp.svg" alt="Share by whatsapp" @click="createShare('whatsapp')">
            <a :href="links.instagram" target="_blank"><img class="share__logo" src="../images/brand_logos/instagram.svg" alt="Share by instagram" @click="createShare('instagram')"></a>
            <a :href="links.twitter" target="_blank"><img class="share__logo" src="../images/brand_logos/twitter.svg" alt="Share by twitter" @click="createShare('twitter')"></a>
          </div>
          <div class="row mt-2 mb-2">
            <span class="text-center fs-5"></span>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="w-100 __copy_input_place">
                <img class="copy__icon" src="../images/copyIcon.svg" alt="copy icon" v-if="!link_copied" @click="copyLink">
                <img class="copy__icon" src="../images/copiedIcon.svg" alt="copy icon" v-if="link_copied">
                <input id="shareUrlCopyInput" class="form-control form-control-lg" type="text" placeholder="Copy url" v-model="link">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-white border-0">
      </div>
    </div>
  </div>
</div>


<%-include('../components/footer.ejs') -%>
<div class="notif__display">
  <div class="notif__body">
    <div class="d-flex justify-content-between align-items-center pb-2 mb-3 " style="gap:10px">
      <h3>Notifications</h3>
      <span style="height:2px;flex:1;background:#ddd;border-radius:10x;"></span>
      <i style="cursor:pointer;" class="fas fa-times fs-3 text-dark _alert"></i>
    </div>
    <h6 class="mt-3" v-if="notif.display.length === 0">No Notifications</h6>  
    <div class="__notif__holder">
        <div v-for="notif in notif.display" :key="notif.id" style="height:130px;width:100;display:flex;align-items:center;gap:10px;position:relative" v-bind:class="notif.noticed ? '__notif__card' : '__notif__card __unread_notif'">
          <div class="new__notif__ind" v-if="!notif.noticed" style="width:10px;height:10px;border-radius:50%;background:#f44336"></div>
          <div class="___notif_content d-flex " style="flex:1;gap:12px;align-items:flex-start;">
              <img src="../images/imageplaceholder.png" alt="Placeholder image" style="width:55px">
              <div>
                <p>{{notif.body}}</p>
                <a v-if="notif.application_notif" :href="notif.direct_user_to">See next steps</a>
                <a v-if="notif.job_alert_notif" :href="notif.direct_user_to">See Jobs</a>
                <a v-if="notif.change_in_job_notif" :href="notif.direct_user_to">View</a>
              </div>
          </div>
          <div class="__notif__remove">
            <i class="fas fa-trash fs-6"></i>
          </div>
          <span style="position:relative;bottom:5px;right:3px;color:rgba(94, 93, 93, 0.452);font-size:0.7rem">{{setRelative(notif.created_at)}}</span>
        </div>
    </div>  
  </div>   
  </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </html>
